.reserve {
  background-color: #440F51;
  padding-block: 80px;
}

.reserve__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reserve__title {
  margin-bottom: 46px;
}

.reserve__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.reserve__item:not(:first-child) {
  width: 980px;
}

.reserve__subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0 auto 40px;
}

.kit__subtitle .reserve__subtitle {
  margin: 0 0 23px 0;
}

/* Кнопка формы */
.reserve__form-button {
  padding: 13px 47px;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  color: #6C0287;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #fff;
  border: 3px solid transparent;
  border-radius: 10px;
  box-shadow: 0 0 30px #fff;
  transition-duration: 400ms;


  &:hover {
    border: 3px solid #640AA3;
    background-color: #EADEED;
    box-shadow: 0 0 30px #640AA3;
  }

  &:focus {
    border: 3px solid #640AA3;
  }

  &:active {
    color: #fff;
    border: 3px solid #fff;
    background-color: #6C0287;
    box-shadow: 0 0 30px #fff;
  }
}

.reserve__subwrapper {
  display: flex;
  flex-direction: column;
  width: 980px;
  align-items: end;
}



@media (max-width: 1240px) {
  .reserve {
    padding-block: 60px;
  }

  .reserve__title {
    margin-bottom: 39px;
  }

  .reserve__item:not(:first-child) {
    width: 100%;
  }

  .reserve__subtitle {
    margin-bottom: 26px;
  }

/* Кнопка формы */
  .reserve__form-button {
    padding: 13px 46px;
    font-size: 18px;
    line-height: 24px;
    margin-inline: auto 0;
  }

  .reserve__subwrapper {
    width: 904px;
  }
}


@media (max-width: 968px) {
  .reserve {
    padding-block: 49px;
  }

  .reserve__item:not(:first-child) {
    width: 100%;
  }

  .reserve__subtitle {
    margin-bottom: 26px;
  }

/* Кнопка формы */
  .reserve__form-button {
    padding: 16px 50px;
    font-size: 22px;
    line-height: 28px;
    margin-inline: auto 0;
  }

  .reserve__subwrapper {
    width: 688px;
  }
}



@media (max-width: 750px) {
  .reserve {
    padding-block: 30px;
  }

  .reserve__item:not(:first-child) {
    width: 100%;
  }

  .reserve__title {
    margin-bottom: 15px;
  }

  .reserve__subtitle {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .kit__subtitle .reserve__subtitle {
    margin: 0 0 15px 0;
  }

  .kit__item-wrapper {
    width: 200px;
  }

/* Кнопка формы */
  .reserve__form-button {
    padding: 17px 59px;
    font-size: 18px;
    line-height: 26px;
    margin-inline: 0 auto;
  }

  .reserve__subwrapper {
    width: 280px;
  }
}